* {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

body {
	font-family: Montserrat Alternates;
	font-size: 1.0em;
	background: #8E0E00;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	margin: 0 auto;
	color: white;
}

@media screen and (max-width: 600px) {

    body {
        font-size: 10px;
    }

    header {
    	background: rgba(0, 0, 0, 0.5);***
		font-size: 20px;
		border-radius: 0px 0px 30px 30px;
    	text-align: center;
    }

    header a {
    	font-size: 15px;
    	padding: 10px;
    	color: white;
    }

    .headerMenu {
    	align-items: center;
    }

    .headerMenu a {
		display: block;
		width: 94%;
		height: 30px;
		line-height: 30px;
		font-size: 10px;
	}

	.sidebar {
		width: 0;
		height: 0;
		visibility: hidden;
	}

    .register {
        padding: 10px;
    }

    .grid-container {
        grid-template-columns: 50px minmax(20px,1fr) 0 2fr 2fr;

    }

    .box {
		width: 70%;
  	}

  	.popup {
    	width: 70%;
    }

    .contentChild img {
		width: 200px;
		height: 200px;
	}
	.grid-post {
		display: grid;
		grid-template-rows: 350px 1fr;
		margin-left: 20px;
	}

	.postbox {
		margin: 0px 10px 20px 50px;
	}
}

@media screen and (min-width: 600px) {	

	header {
		grid-template-areas: "header register sideway"
							"line line line";
		grid-template-columns: repeat(100px 3fr 200px);
		grid-template-rows: repeat(50px 3fr 50px);
	}

	.register {
		grid-area: register;
		background: rgba(0, 0, 0, 0.5);***
		font-size: 20px;
		border-radius: 0px 0px 25px 25px;
		height: 50px;
		color: white;
	}

	.register a {
		padding: 10px;
		margin: auto;
	}

	.headerMenu {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-column-gap: 50px;
		justify-content: end;
		padding-right: 50px;
	}

	.headerMenu a {
		display: block;
		display: block;
		width: 200px;
		height: 40px;
		line-height: 40px;
	}

	.grid-container {
		grid-area: line;
		margin-top: 20px;
		grid-gap: 500px;
		color: white;
		background: rgba(0, 0, 0, 0.5);***
		border-radius: 5px;
		padding: 15px;
	}

	header a {
		color: white;
		text-decoration: none;
	}

	main {
		display: grid;
		grid-template-areas: "side main main"; 
		grid-template-columns: 400px [main-start] 1fr [main-end];
		grid-template-rows: repeat(300px 3fr 300px);
		height: 750px;
	}

	main div {
		border: 1px solid #333;
		background: rgba(0, 0, 0, 0.5);***
	}

	.sidebar {
		grid-area: side;
		border-radius: 0px 25px 25px 0px;
	}

	.mainContent {
		grid-area: main;
		border-radius: 25px 0px 0px 25px;
		margin-left: 10px;
		display: grid;
	}

	 .contentChild img {
		width: 250px;
		height: 250px;
	}

	.grid-post {
		display: grid;
		grid-template-columns: 300px 2fr;
	}

	.postbox {
		  margin: 0 10px 20px 0;
	}

	.popup {
		width: 30%;
	}
}

header {
	display: grid;
}

.register {
	display: grid;
	grid-template-areas: "reg log";
}

.headerMenu a {
	text-decoration: none;
	color: white;
	border: 1px solid #333;
	border-radius: 40px;
	letter-spacing: 2px;
	text-align: center;
	position: relative;
}

.headerMenu a span {
	position: relative;
  	z-index: 2;
}

.headerMenu a:after {
	position: absolute;
	content: "";
  	top: 0;
  	left: 0;
 	width: 0;
  	height: 100%;
	border-radius: 30px;
	background: #8E0E00;
	transition: all .35s;
}

.headerMenu a:hover:after {
	width: 100%;
}

main {
	margin-top: 20px;
	text-align: center;
}

.sidebar a {
	display: grid;
	padding: 8px 20px;
	text-decoration: none;
	color: white;
	border: 1px solid #950909;
	border-radius: 30px;
}

.sidebar a:hover {
	background-color: #950909;
}

footer span {
	visibility: hidden;
}

.foot {
	position: fixed;
	left: 0; bottom: 0;
	background-color: #4F1C18;
	text-align: right;
	width: 100%;
}

.foot section {
	margin-right: 40px;
}

/* login */

.popup {
 	margin: 70px auto;
 	padding: 20px;
 	background: #950909;
 	border-radius: 20px;
 	position: relative;
	transition: all 1s ease-in-out;
}

.popup h2 {
	margin-top: 0;
	text-align: center;
	color: #A99F9F;
}

.popup .close {
 	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.popup .close:hover {
 	color: #06D85F;
}
	
.popup .content {
	max-height: 35%;
	margin-top: 20px;
	overflow: auto;
}

.content {
	display: grid;
	grid-template-areas: "name field";
}

.content span {
	margin-top: 10px;
}

.grid-post {
/*	display: grid;
	grid-template-columns: 300px 2fr;*/
	border-width: 0;

	background-color: rgba(0, 0, 0, 0);****
}

.grid-post img {
	margin-top: 50px;
	margin-left: 50px;	
	border: 1px solid white;
}

.grid-post span {
	margin-top: 50px;
	text-align: left;
}

.act {

	margin-top: 20px;
	text-align: center;
	border-radius: 1px solid green;
}

.act a {
	color: #A99F9F;

	text-decoration: none;
}

.contentChild {
	display: grid;
	grid-template-columns: 300px 1fr;
	border-width: 0;

	background-color: rgba(0, 0, 0, 0);****
}

.contentChild img {
	/*grid-area: img;*/
	border: 1px solid grey;
	border-radius: 30px;
	float: left;
	/*width: 250px;
	height: 250px;*/
	margin-top: 50px;
	margin-left: 30px;
	background: rgba(0, 0, 0, 0.2);***
}

.contentChild span {
	/*grid-area: info;*/
	text-align: left;
	margin-top: 80px;
	/*margin-left: 50px;	*/
	background-color: rgba(0, 0, 0, 0);***
}

.classOfFilms {
	border-width: 0;
	margin-left: 20px;	
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0);***
}


.classOfFilms a {
	color: white;
}

.postbox {
	background-color: rgba(0, 0, 0, 0);***
	border-width: 0;
    border: 1px solid rgba(0, 0, 0, 0);***
    display: -moz-inline-stack;
    display: inline-block;
    float: left;
    min-height: 250px;
    padding: 2px;
    vertical-align: top;
    width: 216px;
    height: 324px;
    zoom: 1;
    font-size: 10px;
}

.postbox .posttitle {
    height: 24px;
    line-height: 12px;
    padding: 5px 0;
    text-align: center;
}
