* {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

body {
	font-family: Montserrat Alternates;
	font-size: 1.0em;
	background: #8E0E00;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	margin: 0 auto;
	color: white;
}

@media screen and (max-width: 600px) {

    body {
        font-size: 10px;
    }

    header {
    	background: rgba(0, 0, 0, 0.5);***
		font-size: 20px;
		border-radius: 0px 0px 30px 30px;
    	text-align: center;
    }

    header a {
    	font-size: 15px;
    	padding: 10px;
    	color: white;
    }

    .headerMenu {
    	align-items: center;
    }

    .headerMenu a {
		display: block;
		width: 94%;
		height: 30px;
		line-height: 30px;
		font-size: 10px;
	}

    .register {
        /*justify-content: center;*/
        padding: 10px;
    }

    .grid-container {
        grid-template-columns: 50px minmax(20px,1fr) 0 2fr 2fr;

    }
}

@media screen and (min-width: 600px) {	

	header {
		grid-template-areas: "header register sideway"
							"line line line";
		grid-template-columns: repeat(100px 3fr 200px);
		grid-template-rows: repeat(50px 3fr 50px);
	}

	.register {
		grid-area: register;
		background: rgba(0, 0, 0, 0.5);***
		font-size: 20px;
		border-radius: 0px 0px 25px 25px;
		height: 50px;
		color: white;
	}

	.register a {
		padding: 10px;
		margin: auto;
	}

	.headerMenu {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-column-gap: 50px;
		justify-content: end;
		padding-right: 50px;
	}

	.headerMenu a {
		display: block;
		display: block;
		width: 200px;
		height: 40px;
		line-height: 40px;
	}

	.grid-container {
		grid-area: line;
		margin-top: 20px;
		grid-gap: 500px;
		color: white;
		background: rgba(0, 0, 0, 0.5);***
		border-radius: 5px;
		padding: 15px;
	}

	header a {
		color: white;
		text-decoration: none;
	}

	main {
		display: grid;
		grid-template-areas: "side main main"; 
		grid-template-columns: 400px [main-start] 1fr [main-end];
		grid-template-rows: repeat(300px 3fr 300px);
		height: 600px;
	}

	main div {
		border: 1px solid #333;
		background: rgba(0, 0, 0, 0.5);***
	}

	.sidebar {
		grid-area: side;
		border-radius: 0px 25px 25px 0px;
	}

	.mainContent {
		grid-area: main;
		border-radius: 25px 0px 0px 25px;
		margin-left: 10px;
	}
}

header {
	display: grid;
}

.register {
	display: grid;
	grid-template-areas: "reg log";
}

.headerMenu a {
	text-decoration: none;
	color: white;
	border: 1px solid #333;
	border-radius: 40px;
	letter-spacing: 2px;
	text-align: center;
	position: relative;
}

.headerMenu a span {
	position: relative;
  	z-index: 2;
}

.headerMenu a:after {
	position: absolute;
	content: "";
  	top: 0;
  	left: 0;
 	width: 0;
  	height: 100%;
	border-radius: 30px;
	background: #8E0E00;
	transition: all .35s;
}

.headerMenu a:hover:after {
	width: 100%;
}

main {
	margin-top: 20px;
	text-align: center;
}

footer span {
	visibility: hidden;
}

.foot {
	position: fixed;
	left: 0; bottom: 0;
	background-color: #4F1C18;
	text-align: right;
	width: 100%;
}

.foot section {
	margin-right: 40px;
}
